<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\PolicyAction $policyAction
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $policyAction->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $policyAction->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Policy Actions'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="policyActions form large-9 medium-8 columns content">
    <?= $this->Form->create($policyAction) ?>
    <fieldset>
        <legend><?= __('Edit Policy Action') ?></legend>
        <?php
            echo $this->Form->control('policy_id');
            echo $this->Form->control('action');
            echo $this->Form->control('remarks');
            echo $this->Form->control('action_date');
            echo $this->Form->control('user_id', ['options' => $users]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
