<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = 'CakePHP: the rapid development php framework';
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= $cakeDescription ?>:
        <?= $this->fetch('title') ?>
    </title>
    <?= $this->Html->meta('icon') ?>

    <?= $this->Html->css('base.css') ?>
    <?= $this->Html->css('style.css') ?>
    <?= $this->Html->css('home.css') ?>
    <link href="https://fonts.googleapis.com/css?family=Raleway:500i|Roboto:300,400,700|Roboto+Mono" rel="stylesheet">

    <?= $this->fetch('meta') ?>
    <?= $this->fetch('css') ?>
    <?= $this->fetch('script') ?>
</head>
<body>
    <header class="row">
        <div class="header-title">
            <h1>Welcome to Agency+. Grow fast. Grow solid.</h1>
        </div>
    </header>
    <div class="row">
        <div class="columns large-12">
            <nav class="top-bar expanded" data-topbar role="navigation">
                <ul class="title-area large-3 medium-4 columns">
                    <li class="name">
                        <h1><a href=""><?= $this->fetch('title') ?></a></h1>
                    </li>
                </ul>
                <div class="top-bar-section">
                    <ul class="right">
                        <li><a target="_blank" href="https://book.cakephp.org/3.0/">Documentation</a></li>
                        <li><a target="_blank" href="https://api.cakephp.org/3.0/">API</a></li>
                    </ul>
                </div>
            </nav>
            <?= $this->Flash->render() ?>
            <div class="container clearfix">
                <?= $this->fetch('content') ?>
            </div>
        </div>                     
    </div>
    <footer>
    </footer> 
</body>
</html>
